<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Found</title>
    <link rel="stylesheet" href="./notFound.css" />
    <script src="../../../script/tailwinds/tailwinds.js"></script>
    <link rel="stylesheet" href="../../../style/style.css" />
    <link rel="stylesheet" href="../../../style/daisy.css" />
    <link rel="stylesheet" href="./set.css" />
  </head>
  <body class="flex flex-col w-screen h-screen justify-center items-center p-10">
    <div class="flex flex-row items-center">
        <h1 class="text-[100px] lg:text-[260px]">4</h1>
        <img src="/image/Mew.gif" class="w-[100px] h-[100px] lg:w-[200px] lg:h-[200px]">
        <h1 class="text-[100px] lg:text-[260px]">4</h1>
    </div>
    <p class="text-md md:text-2xl text-center">The page you're looking for does not exist</p>
    <a href="/pages" class="btn btn-error btn-md lg:btn-lg btn-soft mt-5">Back to Home</a>
  </body>
</html>
