#loader {
  transform: scale(2);
  width: 100px;
  height: 100px;
}

#set-name {
  font-size: xx-large;
}

#set-image {
  width: fit-content;
  height: fit-content;
  max-height: 72px;
  max-width: 30%;
}

.card {
    position: relative;
    transition: all 0.3s ease-in-out;
    border: 4px solid transparent;
    /* padding: 2px; */
    border-radius: 0px;
    cursor: pointer;
}

.card-name{
    position: absolute;
    bottom: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(0deg, #dbeafe 20%, #ffffff00 100%);
    /* color: white; */
    padding: 20px;
    padding-top: 75%;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.card:hover{
    border: 4px solid #3b82f6;
}

.card:hover .card-name{
    opacity: 1;
}

.featured-name{
    font-size: x-large;
    font-weight: 600;
}

.featured-rarity, .featured-type, .featured-category{
    /* font-style: italic; */
    font-size: small;
}

.featured-description{
  margin-top: 10px;
}

.featured-card-div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#poke-ball{
  width: 140px;
  height: 140px;
  /* position: relative; */
}