.pack {
  padding: 20px;
  border: 2px solid transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: all 0.3s ease-in-out;
  position: relative;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05);
}

.pack::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #dbeafe4a 0%, #ffffff4d 100%);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;
}

.pack .pack-container {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pack .pack-name {
  /* font-size: 20px; */
  text-align: center;
  height: 60px;
  display: flex;
  align-items: center;
}

.pack .pack-card-count {
  width: 100%;
  color: #eff6ff;
  text-align: center;
  white-space: pre-line;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background-color: #3b83f652;
  box-shadow: 0 0px 20px 5px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  padding: 10px;
}

.pack img {
  width: fit-content;
  height: fit-content;
  max-height: 100%;
  transform: scale(0.8);
}

.pack:hover::before {
  opacity: 1;
}

.pack:hover {
  border: 2px solid #3b82f6;
  transform: translateY(-5px);
}

.pack:hover .pack-card-count{
  opacity: 1;
}

#loader{
  transform: scale(2);
  width: 100px;
  height: 100px;
}